docker-compose.yaml
docker-compose.e2e.yml
.dockerignore
**/Dockerfile
**/node_modules
**/__test__
**/__tests__
**/*.test.*
**/*.spec.*
**/coverage
**/build
**/.next
**/tsconfig.tsbuildinfo
.git
.gitignore
.github
.claude
jest.*
*.md
LICENSE
database.sqlite
appspec.yml
.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
eslint.config.*
.editorconfig
.vscode
logs
aws
.DS_Store
.storybook
e2e/package.json
e2e/yarn.lock
e2e/node_modules
seeding
minio_data
documentation
initialisation
local.env

packages/untp-test-suite
packages/untp-test-suite-mocha
packages/vc-test-suite

packages/reference-implementation/src/constants/app-config.json
packages/components/src/constants/app-config.json
