docker-compose.yaml
.dockerignore
**/Dockerfile
**/node_modules
**/__test__
**/coverage
**/build
**/tsconfig.tsbuildinfo
.git
.gitignore
jest.*
*.md
LICENSE
database.sqlite
appspec.yml
.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
.editorconfig
.vscode
logs
aws
.DS_Store
e2e/package.json
e2e/yarn.lock

packages/reference-implementation/src/constants/app-config.json
packages/components/src/constants/app-config.json
