version: '3.8'
services:
  documentation:
    build:
      context: ./documentation
      dockerfile: Dockerfile
    ports:
      - 3002:3002
    environment:
      - PORT=3002
      - DOCS_URL=http://0.0.0.0
      - DOCS_BASE_URL=/
    volumes:
      - ./documentation:/app
      - /app/node_modules

  vckit-api:
    image: ghcr.io/uncefact/project-vckit:sha-60d583b@sha256:afa777d13512628e4277566a8abf45be43bdd19cdc8cbcc5383ffc00cc0ba912
    env_file:
      - local.env
    ports:
      - 3332:3332
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vckit
    volumes:
      - vckit-data:/var/lib/postgresql/data
    restart: always

  storage-service:
    image: ghcr.io/uncefact/project-identity-resolver:sha-8aed15c@sha256:d768fbb395e39072a4d227ebea651346e5f27a74f0b4938e6676042095599f3b
    ports:
      - 3334:3334
    environment:
      - API_VERSION=v1
      - PROTOCOL=http
      - DOMAIN=localhost
      - PORT=3334
      - AVAILABLE_BUCKETS=verifiable-credentials,private-verifiable-credentials,epcis-events
      - STORAGE_TYPE=local

  identity-resolver-service:
    # Replace with local or deployed image
    image: app-identity-resolver-1:latest
    ports:
      - '3000:3000'
    environment:
      - MINIO_ENDPOINT=identity-resolver-service-object-store
      - MINIO_PORT=9000
      - MINIO_USE_SSL=false
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=idr-bucket-1
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test123
      - APP_ENDPOINT=http://localhost:3000
      - APP_NAME=IDR-1
      - RESOLVER_DOMAIN=http://localhost:3000
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3000/voc
    depends_on:
      - identity-resolver-service-object-store

  identity-resolver-service-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9090"
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/identity-resolver-service-object-store:/data

  mock-global-gs1-resolver:
    # Replace with local or deployed image
    image: app-identity-resolver-1:latest
    ports:
      - '3001:3000'
    environment:
      - MINIO_ENDPOINT=mock-global-gs1-resolver-object-store
      - MINIO_PORT=9000
      - MINIO_USE_SSL=false
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=idr-bucket-2
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test456
      - APP_ENDPOINT=http://localhost:3001
      - APP_NAME=IDR-2
      - RESOLVER_DOMAIN=http://localhost:3001
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3001/voc
    depends_on:
      - mock-global-gs1-resolver-object-store

  mock-global-gs1-resolver-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9091"
    ports:
      - '9001:9000'
      - '9091:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/mock-global-gs1-resolver-object-store:/data

volumes:
  vckit-data:
