version: '3.8'
services:
  documentation:
    build:
      context: ./documentation
      dockerfile: Dockerfile
    ports:
      - 3002:3002
    environment:
      - PORT=3002
      - DOCS_URL=http://0.0.0.0
      - DOCS_BASE_URL=/
    volumes:
      - ./documentation:/app
      - /app/node_modules

  vckit-api:
    image: ghcr.io/uncefact/project-vckit:sha-7424f86@sha256:a29f887d02595844612d6904db7150e1f82c9906ed59a62af376eb4b60c78431
    env_file:
      - local.env
    ports:
      - 3332:3332
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vckit
    volumes:
      - vckit-data:/var/lib/postgresql/data
    restart: always

  storage-service:
    image: ghcr.io/uncefact/project-identity-resolver:sha-8aed15c@sha256:d768fbb395e39072a4d227ebea651346e5f27a74f0b4938e6676042095599f3b
    ports:
      - 3334:3334
    environment:
      - API_VERSION=v1
      - PROTOCOL=http
      - DOMAIN=localhost
      - PORT=3334
      - AVAILABLE_BUCKETS=verifiable-credentials,private-verifiable-credentials,epcis-events
      - STORAGE_TYPE=local

  identity-resolver-service:
    # Replace with local or deployed image
    image: ghcr.io/pyx-industries/pyx-identity-resolver:latest@sha256:71a02b8b0a2b9c7cc18d33a54060e9af4d543e34bdd6a47c3b3cf4dcadb1711e
    ports:
      - '3000:3000'
    environment:
      - OBJECT_STORAGE_ENDPOINT=identity-resolver-service-object-store
      - OBJECT_STORAGE_PORT=9000
      - OBJECT_STORAGE_USE_SSL=false
      - OBJECT_STORAGE_ACCESS_KEY=minioadmin
      - OBJECT_STORAGE_SECRET_KEY=minioadmin
      - OBJECT_STORAGE_BUCKET_NAME=idr-bucket-1
      - OBJECT_STORAGE_PATH_STYLE=true
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test123
      - APP_ENDPOINT=http://localhost:3000
      - APP_NAME=IDR-1
      - RESOLVER_DOMAIN=http://localhost:3000
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3000/voc
      - PORT=3000
    depends_on:
      - identity-resolver-service-object-store

  identity-resolver-service-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9090"
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/identity-resolver-service-object-store:/data

  mock-global-gs1-resolver:
    # Replace with local or deployed image
    image: ghcr.io/pyx-industries/pyx-identity-resolver:latest@sha256:71a02b8b0a2b9c7cc18d33a54060e9af4d543e34bdd6a47c3b3cf4dcadb1711e
    ports:
      - '3001:3001'
    environment:
      - OBJECT_STORAGE_ENDPOINT=mock-global-gs1-resolver-object-store
      - OBJECT_STORAGE_PORT=9000
      - OBJECT_STORAGE_USE_SSL=false
      - OBJECT_STORAGE_ACCESS_KEY=minioadmin
      - OBJECT_STORAGE_SECRET_KEY=minioadmin
      - OBJECT_STORAGE_BUCKET_NAME=idr-bucket-2
      - OBJECT_STORAGE_PATH_STYLE=true
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test456
      - APP_ENDPOINT=http://localhost:3001
      - APP_NAME=IDR-2
      - RESOLVER_DOMAIN=http://localhost:3001
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3001/voc
      - PORT=3001
    depends_on:
      - mock-global-gs1-resolver-object-store

  mock-global-gs1-resolver-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9091"
    ports:
      - '9001:9000'
      - '9091:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/mock-global-gs1-resolver-object-store:/data

  seeding-data:
    image: curlimages/curl:8.10.1
    working_dir: /scripts
    environment:
      # IDR service environment variables
      - IDR_SERVICE_HOST=identity-resolver-service
      - IDR_SERVICE_PORT=3000
      - IDR_SERVICE_API_KEY=test123

      # Mock GS1 service environment variables
      - IDR_SERVICE_DOMAIN=http://localhost:3000
      - MOCK_GS1_SERVICE_HOST=mock-global-gs1-resolver
      - MOCK_GS1_SERVICE_PORT=3001
      - MOCK_GS1_SERVICE_API_KEY=test456
      - MOCK_GS1_IDENTIFICATION_KEYS=09359502000034,09359502000035 # This ENV can accept multiple keys separated by comma. E.g: 09359502000034,09359502000035,09359502000036
    command:
      - /bin/sh
      - -c
      - |
        if [ "$SEEDING" == "true" ]; then
          ./seeding-idr-data.sh
          ./seeding-mock-gs1-data.sh
        fi
    volumes:
      - ./seeding-idr-data.sh:/scripts/seeding-idr-data.sh
      - ./seeding-mock-gs1-data.sh:/scripts/seeding-mock-gs1-data.sh
    depends_on:
      - identity-resolver-service
      - mock-global-gs1-resolver

volumes:
  vckit-data:
