services:
  ri-db:
    image: postgres:17-alpine
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=${RI_POSTGRES_USER}
      - POSTGRES_PASSWORD=${RI_POSTGRES_PASSWORD}
      - POSTGRES_DB=${RI_POSTGRES_DB}
    volumes:
      - ri-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${RI_POSTGRES_USER} -d ${RI_POSTGRES_DB}']
      interval: 10s
      timeout: 5s
      retries: 5

  ri-init:
    build:
      context: ./initialisation
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      RI_POSTGRES_USER: ${RI_POSTGRES_USER}
      RI_POSTGRES_PASSWORD: ${RI_POSTGRES_PASSWORD}
      RI_POSTGRES_DB: ${RI_POSTGRES_DB}
      # TODO: Harmonise with .env - hardcoded for now to use docker internal networking
      RI_POSTGRES_HOST: ri-db
      RI_POSTGRES_PORT: 5432
      RI_APP_URL: ${RI_APP_URL}
      AUTH_KEYCLOAK_CLIENT_ID: ${AUTH_KEYCLOAK_CLIENT_ID}
      AUTH_KEYCLOAK_CLIENT_SECRET: ${AUTH_KEYCLOAK_CLIENT_SECRET}
      AUTH_KEYCLOAK_SERVICE_ACCOUNT_CLIENT_ID: ${AUTH_KEYCLOAK_SERVICE_ACCOUNT_CLIENT_ID}
      AUTH_KEYCLOAK_SERVICE_ACCOUNT_CLIENT_SECRET: ${AUTH_KEYCLOAK_SERVICE_ACCOUNT_CLIENT_SECRET}
    volumes:
      - ./keycloak-realms:/keycloak-realms
      - ./initialisation/config.json:/app/config.json:ro
      - ./packages/mock-app/prisma:/app/prisma:ro
    depends_on:
      ri-db:
        condition: service_healthy
    restart: 'no'

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    command:
      - start-dev
      - --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HEALTH_ENABLED: 'true'
    ports:
      - '127.0.0.1:${KEYCLOAK_PORT}:8080' # See https://github.com/quarkusio/quarkus/discussions/48905#discussioncomment-14213858
      - '9990:9000' # Port for health checks
    volumes:
      - ./keycloak-realms:/opt/keycloak/data/import:ro
      - keycloak-data:/opt/keycloak/data
    depends_on:
      ri-init:
        condition: service_completed_successfully

  documentation:
    build:
      context: ./documentation
      dockerfile: Dockerfile
    ports:
      - 3002:3002
    env_file:
      - path: ./documentation/.env
        required: false
    volumes:
      - ./documentation:/app
      - /app/node_modules

  untp-playground:
    build:
      context: .
      dockerfile: packages/untp-playground/Dockerfile
      args:
        NEXT_PUBLIC_VERIFICATION_SERVICE_URL: http://localhost:3332/agent/routeVerificationCredential
        NEXT_PUBLIC_VERIFICATION_SERVICE_TOKEN: test123
    ports:
      - '4000:3000'
    volumes:
      - ./packages/untp-playground:/untp-playground
      - /untp-playground/node_modules
    environment:
      - NODE_ENV=development

  vckit-api:
    image: ghcr.io/uncefact/project-vckit:sha-325b7e3@sha256:3623cd45cdb971ba16c6016a1e3ba153fe6920c2053275cd430e76ab75d5a563
    env_file:
      - local.env
    ports:
      - 3332:3332
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vckit
    volumes:
      - vckit-data:/var/lib/postgresql/data
    restart: always

  storage-service:
    image: ghcr.io/uncefact/project-identity-resolver:latest@sha256:06a69d27ee0547cc0e3ce56243b0d3fbff164f804e586de4c78e580b61d971ca
    ports:
      - 3334:3334
    environment:
      - API_VERSION=v1
      - PROTOCOL=http
      - DOMAIN=localhost
      - PORT=3334
      - AVAILABLE_BUCKETS=verifiable-credentials,private-verifiable-credentials,epcis-events
      - STORAGE_TYPE=local
    volumes:
      - storage_service_data:/app/src/uploads

  identity-resolver-service:
    # Replace with local or deployed image
    image: ghcr.io/pyx-industries/pyx-identity-resolver:sha-1f21512-local@sha256:af3cb7f2cffdbac501832ee484215cecc8f8d6ac3f571c9f239d61d8cbc74050
    ports:
      - '3000:3000'
    environment:
      - OBJECT_STORAGE_ENDPOINT=identity-resolver-service-object-store
      - OBJECT_STORAGE_PORT=9000
      - OBJECT_STORAGE_USE_SSL=false
      - OBJECT_STORAGE_ACCESS_KEY=minioadmin
      - OBJECT_STORAGE_SECRET_KEY=minioadmin
      - OBJECT_STORAGE_BUCKET_NAME=idr-bucket-1
      - OBJECT_STORAGE_PATH_STYLE=true
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test123
      - APP_ENDPOINT=http://localhost:3000
      - APP_NAME=IDR-1
      - RESOLVER_DOMAIN=http://localhost:3000/api/1.0.0
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3000/api/1.0.0/voc
      - PORT=3000
    depends_on:
      - identity-resolver-service-object-store

  identity-resolver-service-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9090"
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/identity-resolver-service-object-store:/data

  mock-global-gs1-resolver:
    # Replace with local or deployed image
    image: ghcr.io/pyx-industries/pyx-identity-resolver:sha-1f21512-local@sha256:af3cb7f2cffdbac501832ee484215cecc8f8d6ac3f571c9f239d61d8cbc74050
    ports:
      - '3001:3001'
    environment:
      - OBJECT_STORAGE_ENDPOINT=mock-global-gs1-resolver-object-store
      - OBJECT_STORAGE_PORT=9000
      - OBJECT_STORAGE_USE_SSL=false
      - OBJECT_STORAGE_ACCESS_KEY=minioadmin
      - OBJECT_STORAGE_SECRET_KEY=minioadmin
      - OBJECT_STORAGE_BUCKET_NAME=idr-bucket-2
      - OBJECT_STORAGE_PATH_STYLE=true
      - IDENTIFIER_PATH=identifiers
      - API_KEY=test456
      - APP_ENDPOINT=http://localhost:3001
      - APP_NAME=IDR-2
      - RESOLVER_DOMAIN=http://localhost:3001/api/1.0.0
      - LINK_TYPE_VOC_DOMAIN=http://localhost:3001/api/1.0.0/voc
      - PORT=3001
    depends_on:
      - mock-global-gs1-resolver-object-store

  mock-global-gs1-resolver-object-store:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z-cpuv1
    command: server /data --console-address ":9090"
    ports:
      - '9001:9000'
      - '9091:9090'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio_data/mock-global-gs1-resolver-object-store:/data

  seeding-data:
    image: alpine:3.20.3
    environment:
      # IDR service environment variables
      - IDR_SERVICE_HOST=identity-resolver-service
      - IDR_SERVICE_API_VERSION=1.0.0
      - IDR_SERVICE_PORT=3000
      - IDR_SERVICE_API_KEY=test123

      # Mock GS1 service environment variables
      - IDR_SERVICE_DOMAIN=http://localhost:3000
      - MOCK_GS1_SERVICE_HOST=mock-global-gs1-resolver
      - MOCK_GS1_SERVICE_API_VERSION=1.0.0
      - MOCK_GS1_SERVICE_PORT=3001
      - MOCK_GS1_SERVICE_API_KEY=test456
    command:
      - /bin/sh
      - -c
      - |
        if [ "$SEEDING" = "true" ]; then
          apk add curl jq && \
          ./seeding/idr-data.sh
          ./seeding/mock-gs1-data.sh
        fi
    volumes:
      - ./seeding:/seeding
    depends_on:
      - identity-resolver-service
      - mock-global-gs1-resolver

volumes:
  ri-db-data:
  vckit-data:
  storage_service_data:
  keycloak-data:
