name: Build and Test

on:
  pull_request:
    branches:
      - next

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.packages }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            packages:
              - 'packages/**'
              - 'package.json'
              - 'yarn.lock'
              - 'tsconfig*.json'
              - '.github/workflows/build_test.yml'
              - '.github/workflows/package.yml'
              - 'docker-compose*.yml'
              - 'Dockerfile'

  test_and_build:
    needs: changes
    if: ${{ needs.changes.outputs.packages == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Enable Corepack
        run: corepack enable

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.12.2'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn cache clean && yarn install --frozen-lockfile

      - name: Check formatting
        run: yarn format:check

      - name: Check linting
        run: yarn build && yarn lint

      - name: Build
        run: yarn build

      - name: Run tests
        run: |
          yarn test:coverage

      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main
        with:
          title: Code Coverage Report
          multiple-files: |
            All packages, ./coverage/coverage-summary.json
            Components, ./packages/components/coverage/coverage-summary.json
            Reference Implementation, ./packages/reference-implementation/coverage/coverage-summary.json
            Services, ./packages/services/coverage/coverage-summary.json
            UNTP test suite, ./packages/untp-test-suite/coverage/coverage-summary.json
            VC test suite, ./packages/vc-test-suite/coverage/coverage-summary.json
            UNTP Playground, ./packages/untp-playground/coverage/coverage-summary.json

      # https://github.com/actions/runner-images/issues/2840#issuecomment-1284059930
      # https://github.com/uncefact/tests-untp/issues/344
      - name: Free up space on ubuntu runner for E2E tests
        run: |
          sudo rm -rf \
          "$AGENT_TOOLSDIRECTORY" \
          /opt/microsoft/msedge \
          /opt/microsoft/powershell \
          /opt/pipx \
          /usr/local/julia* \
          /usr/local/lib/android \
          /usr/local/share/powershell \
          /usr/share/dotnet \
          /usr/share/swift

      - name: Start E2E docker compose
        run: SEEDING=true docker compose -f docker-compose.e2e.yml up -d

      - name: Run E2E tests
        run: yarn test:run-cypress
        env:
          NODE_OPTIONS: '--no-experimental-require-module --no-experimental-detect-module' # See issue https://github.com/cypress-io/github-action/issues/1408

      - name: Stop docker compose
        run: docker compose -f docker-compose.e2e.yml down

  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn

      - name: Install and build documentation
        run: |
          cd documentation
          yarn install --frozen-lockfile
          yarn build
        env:
          DOCS_BASE_URL: ${{ vars.DOCS_BASE_URL }}
          DOCS_URL: ${{ vars.DOCS_URL }}
