name: Deploy to GitHub Pages

on:
  push:
    branches:
      - next
      - main
      - docs/parameterise_doc

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: cd documentation && yarn install --frozen-lockfile

      - name: Build website
        run: cd documentation && yarn build
        env:
          DOCS_BASE_URL: ${{ vars.DOCS_BASE_URL }}
          DOCS_URL: ${{ vars.DOCS_URL }}
          DOCS_SITE_TITLE: ${{ vars.DOCS_SITE_TITLE }}
          DOCS_SITE_TAGLINE: ${{ vars.DOCS_SITE_TAGLINE }}
          DOCS_SITE_LOGO_URL: ${{ vars.DOCS_SITE_LOGO_URL }}
          DOCS_SITE_LOGO_ALT: ${{ vars.DOCS_SITE_LOGO_ALT }}
          DOCS_ORGANIZATION_NAME: ${{ vars.DOCS_ORGANIZATION_NAME }}
          DOCS_PROJECT_NAME: ${{ vars.DOCS_PROJECT_NAME }}
          DOCS_FAVICON_URL: ${{ vars.DOCS_FAVICON_URL }}
          DOCS_NAVBAR_TITLE: ${{ vars.DOCS_NAVBAR_TITLE }}
          DOCS_HERO_IMAGE_URL: ${{ vars.DOCS_HERO_IMAGE_URL }}
          DOCS_HERO_IMAGE_ALT: ${{ vars.DOCS_HERO_IMAGE_ALT }}
          DOCS_EDIT_URL_BASE: ${{ vars.DOCS_EDIT_URL_BASE }}
          DOCS_REPOSITORY_LINK: ${{ vars.DOCS_REPOSITORY_LINK }}
          DOCS_SLACK_COMMUNITY_LINK: ${{ vars.DOCS_SLACK_COMMUNITY_LINK }}
          DOCS_SOCIAL_MEDIA_PREVIEW_IMAGE_URL: ${{ vars.DOCS_SOCIAL_MEDIA_PREVIEW_IMAGE_URL }}
          DOCS_EXTENSIONS_LINK: ${{ vars.DOCS_EXTENSIONS_LINK }}
          DOCS_FOOTER_TITLE: ${{ vars.DOCS_FOOTER_TITLE }}
          DOCS_FOOTER_SPEC_TITLE: ${{ vars.DOCS_FOOTER_SPEC_TITLE }}
          DOCS_FOOTER_SPEC_LINK: ${{ vars.DOCS_FOOTER_SPEC_LINK }}
          DOCS_COPYRIGHT_TEXT: ${{ vars.DOCS_COPYRIGHT_TEXT }}

      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./documentation/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
